<div class="card-body">
    {% for row in form %}
        {% if row == form.couleur %}
            {{ form_label(row) }}
            <div class="input-group cpicker colorpicker-element" data-colorpicker-id="2">
                {{ form_widget(row) }}
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-square"></i></span>
                </div>
            </div>
            {% else %}
                {{ form_row(row) }}
        {% endif %}
    {% endfor %}
</div>