<form method="post" action="{{ path('niveau_supprimer', {'id': niveau.id}) }}"
      class="d-inline form-modal" data-modal-title="Suppression"
      data-modal-body="Êtes-vous sûr de vouloir supprimer cet élément ? Cette action est irréversible." id="form_delete_id">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ niveau.id) }}">

    {% if liste is defined %}
        <button class="btn btn-link p-0 pb-1"><i class="fa fa-trash-can text-danger" data-toggle="tooltip" title='Supprimer'></i></button>
    {% else %}
        <button class="btn btn-outline-danger mr-2">Supprimer</button>
    {% endif %}
</form>
